	#title 
{
		color: #3E7321
}

	#premis
{
		text-indent: 25%
}

	p
{
			font-family: Arial
}

	h1
{ 
		font-family: Bookman Old Style
}

	h2
{
		font-family: Bookman Old Style
}

	ul
{
		padding-left: 25%
}